artifacts/azurerm_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "blobAccesskey": {
            "type": "String",
            "metadata" : {
                "description": "Access key for the Azure blob storage account"
            }
        },
        "blobAccountName": {
            "type": "String",
            "metadata" : {
                "description": "Name of the Azure blob storage account"
            }
        },
        "blobConnectionName": {
            "type": "String",
            "metadata": {
                "description": "Name of the blob API connection for the Logic App"
            }
        },
        "logicappName": {
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "region": {
            "type": "String",
            "metadata": {
                "description": "Subscription Id"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[parameters('blobConnectionName')]",
            "location": "[parameters('region')]",
            "properties": {
                "displayName": "azureblob",
                "parameterValues": {
                    "accountName": "[parameters('blobAccountName')]",
                    "accessKey": "[parameters('blobAccesskey')]"
                },
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('region'), 'azureblob')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicappName')]",
            "location": "[parameters('region')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('blobConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_blob": {
                            "runAfter": {
                                "Update_blob": [
                                    "Failed",
                                    "Skipped"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@concat(utcNow(), ' ', triggerBody())",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/logs",
                                    "name": "@{concat(utcNow('yyyyMMdd-hhmm'), '.txt')}",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Get_blob_content": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(concat('/logs/', utcNow('yyyyMMdd-hhmm'), '.txt')))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Update_blob": {
                            "runAfter": {
                                "Get_blob_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@concat(body('Get_blob_content'), '\r\n', utcNow(), ' ', triggerBody())",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(concat('/logs/', utcNow('yyyyMMdd-hhmm'), '.txt')))}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('blobConnectionName'))]",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('region'), 'azureblob')]"
                            }
                        }
                    }
                }
            }
        }        
    ],
    "outputs": {
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicappName')), '/triggers/manual'), '2016-06-01').value]"
        }
    }
}